/* Grundlegende Stileinstellungen */
body {
    font-family: monospace, Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #123456;
}

a {
    text-decoration: none;
	color: :#000;
}

ul {
	padding-inline-start: 0px;
}

ul.languages {
	padding-inline-start: 15px;
}
/* Container für zentrierten Inhalt */
.container {
    max-width: 95%;
    margin: 0 auto;
    padding: 10px;
}

/* Fixierter Header */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    width: 95%;
    z-index: 100; /* Damit der Header über anderen Elementen liegt */
    background-color: #123456; /* Stellen Sie sicher, dass der Hintergrund gesetzt ist */
    height: 50px; /* Feste Höhe für den Header */
}

/* Abstand unterhalb des fixierten Headers schaffen */
.content {
    padding-top: 30px; /* Platz für den fixierten Header schaffen */
}

/* Suchleiste und Filter */
.search-bar,
.filter-options {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

.search-bar {
    flex-grow: 1;
    margin-left: 10px;
    margin-right: 10px;
}

.filter-options {
    width: auto;
}

/* Mosaik-Layout für die Karten */
.mosaic {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 20px;
}

/* Kartendesign */
.card {
    background-color: white;
    border-radius: 8px;
    padding: 15px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    transition: transform 0.3s ease;
    border-right: 8px solid transparent;
}

.card:hover {
    transform: translateY(-5px);
}

.card-title {
    font-weight: bold;
    margin-bottom: 5px;
}

.card-details {
    font-size: 13px;
    color: #666;
}

/* Modales Fenster */
.modal {
    display: none;
    position: fixed;
    z-index: 200;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.4);
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #444;
    width: 80%;
    max-width: 600px;
    z-index: 2000; /* Damit das Fenster über anderen Elementen liegt */
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    position: relative;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

.modal-content a {
    color: #000;
    text-decoration: none;
}

.modal-content a:hover {
    text-decoration: underline;
}

.modal-content .vz-link {
    position: absolute;
    top: 10px;
    right: 40px;
    color: #888;
    font-size: 0.8em;
    text-decoration: none;
}

.modal-content .vz-link:hover {
    text-decoration: underline;
}

/* Sprachlevel-Anzeige */
.language-level {
    display: inline-block;
    padding: 2px 5px;
    margin: 2px;
    border-radius: 3px;
    font-size: 12px;
    background-color: #e0e0e0;
}

.certified {
    border: 1px solid green;
}

.department-label {
    font-weight: bold;
    float: right;
}

/* Anzeige des aktuellen Filters */
#currentFilter {
    margin-bottom: 10px;
    padding: 5px;
    background-color: #e0e0e0;
    border-radius: 4px;
}

/* Spezifische Kartenfarben für Typen */
.person-card {
    background-color: #add8e6; /* Pastellblau */
}

.facility-card {
/*    background-color: #F4A460; /* Sandy Brown */
    background-color: #D2B48C; /* Tan */
}

.location-card {

/*    background-color: #a0d6d3; /* Pastelltürkis */
/*    background-color: #98FB98; /* Pale Green */
    background-color: #B2D8B2; /* Light Green */
}

/* Hintergrundfarben für das Modal basierend auf dem Typ */
.modal-content.person-modal {
    background-color: #add8e6; /* Pastellblau für Personen */
}

.modal-content.facility-modal {
    background-color: #D2B48C; /* Tan für Einrichtungen */
}

.modal-content.location-modal {
    background-color: #B2D8B2; /* Light Green für Standorte */
}

/* Optionale Stile für den Modalinhalt, um die Lesbarkeit sicherzustellen */
#detailModal .modal-content {
    padding: 20px;
    /* Fügen Sie weitere Stile hinzu, um das Aussehen anzupassen */
}

/* Logo-Text-Stile */
.logo-text {
    font-family: Arial, sans-serif;
    margin: 0;
    font-size: 32px;
    font-weight: bold;
    text-align: center;
    color: #E3E4E4; /* Standardfarbe */
    text-transform: uppercase;
}

.ifak-color {
    color: #009EE0; /* Farbe für "IFAK" */
}

.word1-color,
.word2-color {
    transition: opacity 2s ease-in-out;
    color: #E3E4E4; /* Farbe für WORT1 und WORT2 */
}

.fade-out {
    opacity: 0;
}

/* Footer-Stile */
footer {
    max-width: 95%;
    margin: 0 auto;
    font-size: 0.9em;
    color: #aaaaaa;
    padding-bottom: 10px;
    display: flex;
    justify-content: space-between; /* Elemente links und rechts ausrichten */
    flex-direction: column; /* Flex-Richtung auf Spalte setzen, um Logos unter Links zu platzieren */
    gap: 10px; /* Abstand zwischen den Elementen */
}
footer .top-row {
    display: flex;
    justify-content: space-between; /* Links und Rechts auf einer Linie halten */
    width: 100%;
}
footer a {
    color: #777;
}

footer .left {
    text-align: left; /* Text linksbündig */
}

footer .right {
    text-align: right; /* Text rechtsbündig */
}

footer .exports {
    list-style: none;
    padding: 0;
}
.logo-container {
    display: flex;
    justify-content: space-around; /* Logos gleichmäßig über die Breite verteilen */
    align-items: center; /* Vertikal zentrieren */
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: #fff;
}

.company-logo {
    max-height: 80px; /* Einheitliche Höhe für alle Logos */
    height: auto;
    width: auto;
}

.ifak-formular-container {
  margin-top: 2rem; /* oder mehr, je nach Header-Höhe */
  display: flex;
  flex-wrap: wrap;
}

.ifak-formular {
  flex: 1 1 50%;
  max-width: 50%;
  min-width: 320px;
  background: #13385c;
  padding: 1rem;
  box-sizing: border-box;
}

.ifak-formular h1 {
  color: #fff;
}

.form-block {
  margin-bottom: 3rem;
}

.ifak-formular h3 {
  margin-top: 0;
  font-size: 1.2rem;
  color: #fff;
}

.ifak-formular label {
  display: block;
  margin-top: 1rem;
  font-weight: bold;
  color: #fff;
}

.ifak-formular input[type="text"],
.ifak-formular input[type="email"],
.ifak-formular input[type="password"] {
  width: 100%;
  padding: 0.5rem;
  margin-top: 0.1rem;
  box-sizing: border-box;
  font-size: 2rem;
  border: none;
  border-radius: 4px;
}

.ifak-formular button {
  margin-top: 1.5rem;
  padding: 0.75rem 1.5rem;
  font-size: 1rem;
  background: #58a6ff;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.ifak-formular button:hover {
  background: #3c90df;
}

/* Responsive Design für mobile Geräte */
@media (max-width: 768px) {
    .header {
        flex-direction: column;
        height: auto; /* Höhe anpassen, falls nötig */
    }
	.logo {
		margin: 10px 0 10px 0;
	}
    .search-bar,
    .filter-options {
        width: 100%;
        margin-bottom: 10px;
        font-size: 14px;
    }

    .search-bar {
	    width: 95%;
        margin-left: 10px;
        margin-right: 10px;
    }

    .mosaic {
        grid-template-columns: 1fr;
    }

    .container {
        padding: 10px;
    }

    .content {
        padding-top: 130px; /* Angepasster Wert für kleinere Bildschirme, falls Header höher ist */
    }
    .company-logo {
	    max-height: 20px; /* Einheitliche Höhe für alle Logos */
	    height: auto;
	    width: auto;
	}

}